<h2>Shop Dashboard</h2>
<p><%= current_user.first_name + " " + current_user.last_name %></p>

<%= link_to("Create New Shop", new_shop_path, :class => 'btn btn-primary') %>
<%= link_to("Log Out", destroy_user_session_path, method: :delete, :class => 'btn btn-dark') %>

<br><br>
<h4>Total Orders: <%= @orders.count %></h4> <br>
<h4>Total Revenue: $<%= @revenue %></h4> <br>

<div class="card-deck">
  <% @shops.each do |shop| %>

    <% @shop_sales = Order.where(:store_id => shop.id).sum(:total) %>

    <div class=""> <!-- Need empty div so they align properly in all screen sizes, idk why it works -->
      <div class="card mb-3">
        <div class="card-header">
          <h5><%= shop.name %></h5><small class="text-secondary">Shop ID: <%= shop.id %></small>
        </div>
        <div class="card-body">
          <small class="card-text">Candy Varieties: <%= shop.candies.count %> </small> <br>
          <small class="card-text">Total Sales: $<%= @shop_sales %></small> <br>
          <hr>
          <%= link_to("Show Details", shop_path(shop), :class => 'btn btn-primary btn-sm') %>
          <%= link_to("Delete", delete_shop_path(shop), :class => 'btn btn-danger btn-sm') %>
        </div>
      </div>
    </div>

  <% end %>
</div>
