<h2>Create new shop</h2>

<%= link_to("Back to Shops List", shops_path, :class => 'btn btn-primary btn-sm') %>

<br><br>

<%= form_for(@shop) do |f| %>

  <div class="card">
    <div class="card-body">
      <div class="form-group">
        Name: <%= f.text_field(:name, :class => 'form-control') %>
        City: <%= f.text_field(:city, :class => 'form-control') %>
      </div>
      <%= f.submit("Create Shop", :class => 'btn btn-primary') %>
    </div>
  </div>




<% end %>
