<h2>Shop Details: <%= @shop.name %></h2>

<%= link_to("<< Back to Shops List", shops_path, :class => 'back-link') %>

<br><br>

<%= link_to("Generate Candy", new_candy_path(:shop_id => @shop.id), :class => 'action new') %>


<br><br>


Unshelved Inventory: <br>

<% @shop.candies.unshelved.each do |candy| %>
  Candy Name: <%= candy.name %> <br>
  Amount: <%= candy.amount %> <br>
  <br>
<% end %>

Shelves: <br>
<%
  # Create shelf model
  # Loop through all shelves
  # @shop.shelves.each do |shelf|
  # print info and maybe another nested loop for each candy
%>
