<h2>Shop Details: <%= @shop.name %></h2>

<%= link_to("<< Back to Shops List", shops_path, :class => 'back-link') %>

<br><br>

<%= link_to("Generate Candy", new_candy_path(:shop_id => @shop.id), :class => 'action new') %>
<%= link_to("Add Shelf", shelves_path(:shop_id => @shop.id), :class => 'action create', method: :post) %>


<br><br>


<h3>Unshelved Inventory: </h3><br>

<% @shop.candies.unshelved.each do |candy| %>
  Candy Name: <%= candy.name %> <br>
  Amount: <%= candy.amount %> <br>
  <br>
<% end %>

<h3>Shelves: </h3><br>

<% @shop.shelves.each do |shelf| %>
  Shelf ID: <%= shelf.id %>
<% end %>
