<h2>Shop Details: <%= @shop.name %></h2>

<%= link_to("<< Back to Shops List", shops_path, :class => 'back-link') %>

<br><br>

<%= link_to("Generate Candy", new_candy_path(:shop_id => @shop.id), :class => 'action new') %>
<%= link_to("Add Shelf", shelves_path(:shop_id => @shop.id), :class => 'action create', method: :post) %>


<br><br>


<h3>Unshelved Inventory: </h3>
<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Options</th>
  </tr>
  <% @shop.candies.unshelved.each do |candy| %>
    <tr>
      <td><%= candy.name %></td>
      <td><%= candy.amount %></td>
      <td>
        <%= link_to("Delete", delete_candy_path(candy, :shop_id => @shop.id), :class => 'action delete') %>
        <%= link_to("Move", edit_candy_path(candy, :shop_id => @shop.id), :class => 'action edit') %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Shelves: </h3>

<% @shop.shelves.each do |shelf| %>
  Shelf ID: <%= shelf.id %>
  <%= link_to("Delete", delete_shelf_path(shelf, :shop_id => @shop.id), :class => 'action delete') %>
  <table>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Options</th>
    </tr>
    <% shelf.candies.each do |candy| %>
      <tr>
        <td><%= candy.name %></td>
        <td><%= candy.amount %></td>
        <td>
          <%= link_to("Delete", delete_candy_path(candy, :shop_id => @shop.id), :class => 'action delete') %>
          <%= link_to("Move", edit_candy_path(candy, :shop_id => @shop.id), :class => 'action edit') %>
        </td>
      </tr>
    <% end %>
  </table>
  <br>
<% end %>
