<h2>Generate new candy</h2>

<%= link_to("Back to Shop", shop_path(:id => @shop.id), :class => 'btn btn-primary btn-sm') %>

<br><br>
Generate new candy in shop: <%= @shop.name %> <br>

<%= form_for(@candy, :url => candies_path(:shop_id => @shop.id)) do |f| %>
<div class="card">
  <div class="card-body">
    <div class="form-group">
      Name: <%= f.text_field(:name, :class => 'form-control') %>
      Amount: <%= f.text_field(:amount, :class => 'form-control') %>
      Price: <%= f.text_field(:price, :class => 'form-control') %>
    </div>
    <%= f.submit("Generate", :class => 'btn btn-primary') %>
  </div>
</div>

<% end %>
