<!-- Navbar -->
<%= render partial: "navbar" %>
<br>

<div class="container">
  <h1>Candies</h1>
  <table class="table table-sm table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Candy</th>
        <th>Amount Available</th>
        <th>Price</th>
        <th>Store</th>
      </tr>
    </thead>
    <% @candies.each do |candy| %>
      <tr>
        <td><%= link_to(candy.name, customer_path(@customer, :candy_id => candy.id), :class => 'text-primary') %></td>
        <td><%= candy.amount %></td>
        <td><%= candy.price %></td>
        <td><%= candy.shop.name %></td>
      </tr>
    <% end %>
  </table>
</div>
