<!-- Navbar -->
<%= render partial: "navbar" %>
<br>

<div class="container">
  <h1>Candies</h1>
  <p class="text-info">Blue = in cart</p>
  <table class="table table-sm table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Candy</th>
        <th>Amount Available</th>
        <th>Price</th>
        <th>Store</th>
      </tr>
    </thead>
    <% @candies.each do |candy| %>
      <% # If the candy ID is present in the session, highlight row to let user know it is in their cart %>
      <% if session.key?(candy.id) %>
      <tr class="alert-info">
        <td><%= link_to(candy.name, customer_path(@customer, :candy_id => candy.id), :class => 'text-dark') %></td>
      <% else %>
      <tr>
        <td><%= link_to(candy.name, customer_path(@customer, :candy_id => candy.id)) %></td>
      <% end %>
      <td><%= candy.amount %></td>
      <td><%= candy.price %></td>
      <td><%= candy.shop.name %></td>
    </tr>
    <% end %>
  </table>
</div>
