<!-- Navbar -->
<%= render partial: "navbar" %>
<br>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3><%= @candy.name %></h3>
      <p>$<%= @candy.price %> each </p>
    </div>
    <div class="card-body justify content center">
      <div class="form-group">
        <!-- form_for(@cart), when submitted, goes to update action of cart belonging to customer -->
        <%= form_for(@customer) do |f| %>
        Amount: <%= f.number_field(:money, :value => nil, :step => 1, :class => 'form-control') %>
        <small class="form-text text-muted">Total cost: Javascript here</small>
        <br>
        <%= f.submit("Add to Cart", :class => 'btn btn-primary') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
