<!-- Navbar -->
<%= render partial: "navbar" %>
<br>

<div class="container">
  <h1>Cart</h1>
  <!-- If count is 3, cart is empty, 3 default variables are in session[] -->
  <% if session.keys.count == 3 %>

    <hr>
    <h3>Your cart is empty!</h3>
    <p>Add candies to your cart by clicking on them in the home page. Then come back here :) </p>

  <% else %>

    <table class="table table-sm table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Candy</th>
          <th>Amount</th>
          <th>Store</th>
          <th>Total Cost</th>
        </tr>
      </thead>

      <% session.each do |candy_id, amount| %>
        <%  # These strings are generated and stored in the session by rails, exclude %>
        <% unless candy_id == 'session_id' || candy_id == 'warden.user.customer.key' || candy_id == '_csrf_token' %>
          <% @candy = Candy.find(candy_id) %>
          <tr>
            <td><%= @candy.name %></td>
            <td><%= amount %></td>
            <td><%= @candy.shop.name %></td>
            <td><%= amount.to_i * @candy.price %> @ <%= @candy.price %> each</td>
          </tr>
        <% end %>
      <% end %>

    </table>

  <% end %>

</div>
