<!DOCTYPE html>
<html>
  <head>
    <title>Candyshop</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="">
    <body>
      <div class ="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <% if !flash[:message].blank? %>
              <div class="alert alert-dark center-block text-center">
                <%= flash[:message] %>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </body>
  </div>

</html>
