<!DOCTYPE html>
<html>
  <head>
    <title>Candyshop</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="bg-dark text-white">
  <body>
    <div class ="container">
      <% if !flash[:message].blank? %>
        <div class="alert alert-primary">
          <%= flash[:message] %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
  </div>

</html>
