<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="">
    <body>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <% unless notice.blank? && alert.blank? && flash.blank? %>
              <div class="alert alert-dark center-block text-center">
                <%= image_tag "ultrafastparrot.gif", :size => '30x30', :class => 'img-fluid' %>
                <%= notice %>
                <%= alert %>
                <%= flash[:message] %>
                <%= image_tag "ultrafastparrot.gif", :size => '30x30', :class => 'img-fluid' %>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
    </body>
  </div>

</html>
